body {
    margin-left: 25%;
    margin-right: 25%;
    padding: 5px;
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: blueviolet;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*------------------ container ------------------*/
container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*------------------ header ------------------*/
header{
    background-color: blanchedalmond;
}
header a {
  border: solid;
  margin: 5px;
  float: right;
}


/*------------------ profile ------------------*/
#profile{
    background-color: lightpink;
    width: 100%;
    height: 120%;
    border:solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profile article{
    display: flex;
    flex-direction: column;
}
#profile article #nameAndFirstName{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



#profile aside{
    width: 100%;
    margin-left: 60%;

}

/*------------------ publication ------------------*/
#publication{
  background-color: aqua;
  width:100%;
}



/*------------------ bouton c'est super ------------------*/
#thumb {
    width: 30px;
}

#cSuper {
    border: solid;
    display: flex;
    flex-direction: row;
}